<!DOCTYPE html>
<html>
<head>
  <title>Studium</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="contents">
  <%= render partial: 'shared/header' %>
  
  <% if notice %>
    <div class="notice alert alert-info"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
  
  <div class="params">
  <% if Rails.env.development? %>
    <%= debug params %>
  <% end %>
  </div>


  <%= yield %>


  <%= render 'shared/footer' %>
</div>

</body>
</html>
